<h4>{{ isEdit ? 'edit food' : 'add new food' }}</h4>
<form (ngSubmit)="editFood()" #formFood="ngForm">
  <label for="callories">Callories:</label>
  <input type="text" name="callories"  id="callories" ngModel>
  <br>
  <label for="category">Category:</label>
  <select value="category" id="category" name="category" ngModel>
    <option >Breakfast</option>
    <option>Snack</option>
    <option>Lunch</option>
    <option>Dinner</option>
  </select>
  <br>
  <label for="eat">Eat:</label>
  <input type="text" id="eat" name="eat" ngModel>
  <br>
  <button type="submit" >{{ isEdit ? 'edit' : 'create' }}</button>
</form>
