<div class="container">
  <div class="add">
    <a routerLink="/new">✚</a>
    </div>
  <div *ngIf="isFetching" class="loader"></div>
  <div *ngIf="!isFetching">
  <div
    class="foods"
  *ngFor="let food of foods"
  >
    <h4>Еда:</h4><p>{{food.eat}}</p>
    <h4>Время приема пищи:</h4><p>{{food.category}}</p>
    <h4>Каллории:</h4><p>{{food.callories}}</p>
    <button class="edit" [routerLink]="[food.id, 'edit']">edit✎</button>
    <button
      (click)="onRemove(food.id)"
      [disabled]="removing"
    >
      <span *ngIf="!removing" class="delete">dell❌</span>
      <span *ngIf="removing" class="loader"></span>
    </button>
  </div>
  </div>
</div>
