.foods{
  border-bottom: 3px solid coral;
  padding-bottom: 20px;
}

.add{
  background: coral;
  width: 15px;
  height: 15px;
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 5px;
  max-width: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: 1s linear;
  line-height: 12px;
}

.add:hover{
  -webkit-transform: scale(2);
  transform: scale(2);
}

a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;

}



#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.delete{
  border: 3px solid red;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  color: red;
  font-size: 10px;
}

button{
  border: none;
  background: white;
}

.edit{
  border-radius: 50%;
  cursor: pointer;
  line-height: 25px;
  position: relative;
  z-index: 2;
  background: blue;
  color: #FFF;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  font-size: 15px;
  transition: 3s linear;
}

.edit:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
